*{
    margin: 0;
    padding: 0;
}

/* shared style */

.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.container{

    max-width: 1600px;
    
}

.btn{
    color: #FFFFFF;
    font-size: 600;
    background-color: #469165;
    padding: 12.5px 16px;
    border-radius: 4px;
    border: none;
}

/* body style start */
/* header */
/* nav */
.nav-part{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
}

.nav-part ul{
    /* max-height: 60px; */
    list-style: none;
    display: flex;
    gap: 32px;
}
.nav-part ul li{
    font-size: 16px;
    color: #000000;
}