* {
    margin: 0;
    padding: 0;
}

/* shared style */

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

.container {

    max-width: 1600px;

}

.btn {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    padding: 12.5px 16px;
    border-radius: 4px;
    border: none;
}
.btn:hover {

background-color: #ffffff;
color: #469165;
border: 1px solid #469165;
}

/* body style start */
/* header */
/* nav */
.nav-part {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
}

.nav-part ul {
    /* max-height: 60px; */
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-part ul li {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

/* hero section */
.hero-parent {
    background-image: linear-gradient(rgba(0, 25, 49, 0.142)), url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 675px;
    width: 100%;

}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 115px;
    text-align: center;
}

.hero-container .hero-span button {
    border-radius: 1000px;
    padding: 10px 12px;
    border: none;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 16px;
}
.hero-container .hero-span button:hover{
    background-color: #469165;
    color: white;
}

.hero-container .bold-banner {
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    margin-bottom: 16px;
}

.hero-container .short-banner {
    color: rgba(255, 255, 255, 1);
    ;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.banner-btn {
    display: flex;
    gap: 16px;
}

.banner-btn .vault {
    border-radius: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    /* padding: 1px 16px; */
}
.banner-btn .vault:hover {
    background-color: #001931;
}

.banner-btn .vault-2 {
    border-radius: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 16px 15px;
    font-size: 16px;
    font-weight: 600;
    /* padding: 1px 16px; */
}
.banner-btn .vault-2:hover{
    border:1px solid #469165;
    
}

/* note section starts */
.note-section {
    margin-top: 60px;
}

.note-section .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-section .title h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.note-section .title p {
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    margin-bottom: 45px;
}

.card-parent {
    display: flex;
    justify-content: space-evenly;
    margin: 0 120px;
    /* background-color: aqua; */
}

.card-parent .note-card {
    width: 20%;
    max-width: 322px;
    border-radius: 8px;
    /* border: 1px solid magenta; */
    text-align: center;
    padding: 70px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.098);
}

.card-parent .note-card .note-image {
    background-color: rgba(249, 85, 85, 1);
    border-radius: 50%;
    padding: 20px;
    border: none;
}

.card-parent .note-card h1 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bolds;
    color: #001931;
}
.card-parent .note-card p {
    font-size: 16px;
    color: #627382;
}

/* solution-part */
.solution-section{
    margin: 120px 120px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 60px;
}

.solution-section .solution-draft {
    width: 51%;
    max-width: 700px;
    
}
.solution-section .solution-draft h2{
    font-size: 20px;
    font-weight: 600;
    color: #469165;
    margin-bottom: 16px;
}
.solution-section .solution-draft .draft-head{
    font-size: 54px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 16px;
  
}
.solution-section .solution-draft .draft-head2{
    font-size: 16px;
    color: #627382;
    text-align: justify;
    margin-bottom: 40px;
}
.solution-section .solution-draft .solution-list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}
.solution-section .solution-draft .solution-list ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    
    
}
/* ready section part */
.ready-section{
    margin: 120px;
    background-color: rgba(247, 246, 242, 1);
    border-radius: 12px;
}
.ready-section .ready-container{
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ready-section .ready-container h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.ready-section .ready-container p{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #627382;
    font-weight: 400;
}
.ready-section .ready-container button{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}
.ready-section .ready-container button:hover{
    background-color: #001931;
}
/* footer */
footer{
    background-color: #001931;
}
.footer-part{
    margin-top: 120px;
    margin-bottom: 80px;
    padding: 120px 120px 0;
    background-color: #001931;
    display: flex;
    justify-content: space-between;
}
.footer-part .social-footer{
    padding-right: 110px;
}
.footer-part .social-footer p{
  color: #FFFFFF;
  font-size: 20;
  font-weight: 600;
  margin-bottom: 16px;
}
.social-media{
    display: flex;
    gap: 17px;
}
.social-media i {
    background-color: white;
    border-radius: 50%;
    padding: 2px;
    border: none;
}
.copy-right{
    color: white;
    margin: 0;
    padding: 0;
}
footer hr{
    width: 85%;
    height: 1px;
    border: none;
    background-color: #e5e7eb22;

    margin: 0 auto;
    margin-bottom: 40px;
}
footer .copy-right p{
    margin: 0 auto; 
    text-align: center;
    padding-bottom: 30px;
}